<div>
    <h2>{{ section.settings.header }}</h2>
    <div>
        {% for block in section.blocks %}    
            <a href="{{ block.settings.collection.url }}">
                <div>
                    <img src="{{ block.settings.collection.image| | img_url: 'large'}}" loading="lazy">
                    <h3>{{ block.settings.collection.title }}</h3>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name":"Collection grid",
    "settings": [
       {
        "type": "text",
        "id": "header",
        "label": "Header"
       }
    ],
    "blocks":[
      {
        "type": "collection",
        "limit": 4,
        "name":"Collection",
        "settings": [
           {
               "type": "collection",
               "id": "collection",
               "label": "Collection"
           }
        ]
      }
    ],
    "presets":[
        {
           "name": "Collection grid"
        }
    ]
}
{% endschema %}