<div>
    <h1>
        <img loading="lazy" src="{{ 'hero-image.svg' | asset_url | asset_img_url: 'master' }}"  />
        <span>vintage & thrift</span>
    </h1>
</div>


{% schema %}
{
    "name": "Hero",
    "presets": 
    [
        {
        "name":"Hero"
        }
    ]
}
{% endschema %}