{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="header-container">
    <h1>
        <img src="{{ 'hero-image.svg' | asset_url }}"  />
        <span>vintage & thrift</span>
    </h1>
</div>


{% schema %}
{
    "name": "Hero",
    "presets": 
    [
        {
        "name":"Hero"
        }
    ]
}
{% endschema %}