.header-container{
    margin-top: 100px;
    position: relative;
}

.header-container:before{
    position: absolute;
    content: "";
    top: 45px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #E8EFFA;
}

.header-container h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
}

.header-container img{
    width: 310px;
}

.header-container span{
    margin-top: 20px;
    font-size: 29px;
}